
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
 }

 body{
    ul
    {
        list-style-type: none;
    }

    a,button
    {
        text-decoration:none;
        color:black;
        font-size: 1.2rem;
        font-weight: 500;
        padding:0.5rem;

        &:hover{
            background:rgb(221, 221, 221);
        }
        
    }

    header
    {
        height:100px;
        background:#fff;
        display:flex;
        align-items: flex-end;
       
        ul{
            width:1000px;
            height:50px;
            display:flex;
            align-items: center;
           justify-content: space-around;

           .sub-nav
           {
               position:relative;
            button{
                   border:none;
                   background:white;
                   outline: none;
                   cursor: pointer;

                   &:hover{
                       background:rgb(221, 221, 221);
                   }
                   
               }
            
              .sub-nav-content{
                  background:rgb(221, 221, 221);
                  width:180px;
                  height:200px;
                  display:none;
                  flex-direction: column;
                  position: absolute;
                  left:20px;
                  z-index: 2;

                  a{
                      font-size: 1.2rem;
                      padding:10px 15px;
                    &:hover{
                          background:rgb(247, 245, 245);
                      }
                  }

                
               }
               .sub-nav-content a:last-child
               {
                  margin-top:20px;
               }

               .sub-nav-content.show
               {
                   display:flex;
               }
           }

        }

    }

    .banner-container{
        width:50%;
        background:rgb(195, 71, 195);
        position: relative;
        margin-left:20px;
        padding:20px;
        height:300px;

        .banner{
            max-width: 900px;
            margin:auto;
            position: absolute;
            

            .banner-content
            {
                h1{
                    color:white;
                    font-size: 2.5rem;
                }
                p{
                    padding:0.7rem;
                    font-size: 1.1rem;
                    color:white;
                    line-height:1.6;
                }
            }
        }
    }
}